* {
	/*border: 1px solid black;*/
	font-family: Raleway, Montserrat;
}
/* -- BODY -- */
body {
	width: 100%;
}
/* -- END BODY -- */
/* -- CONTAINER -- */
.container-fluid {
}
/* -- END CONTAINER -- */
/* -- HEAD 1 -- */
#head1 {
	height: 100px;
	line-height: 100px;
	background-color: white;
}

#logo {
	height: 50px;
}
	
#head1 a {
	text-transform: uppercase;
	color: grey;
	font-weight: bold;
	font-size: 0.9em;
}

#head1 a:hover {
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-size: 1em;
}
/* -- END HEAD 1 -- */
/* -- HEAD 2 -- */
#head2 {
	
	background-color: #d9edc7;
}

#head2 a {
	height: 70px;
	line-height: 70px;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 0.8em;
}
/* -- END HEAD 2 -- */
/* -- BLOCK 1 -- */
#block1img {
	height: 530px;
	width: 100%;
	background-color: #80c342;
}
/* -- END BLOCK 1 -- */
/* -- BLOCK 2 -- */
#block2img {
	height: 530px;
	width: 100%;
	background-color: #80c342;
}
/* -- END BLOCK 2 -- */
/* -- BLOCK 3 -- */
#block3 {
	height: 200px;
	width: 100%;
	text-align: center;
	background-color: #f5f5f5;
}
/* -- END BLOCK 3 -- */
/* -- BLOCK 4 -- */
#block4img {
	height: 530px;
	width: 100%;
}
/* -- END BLOCK 4 -- */