* {
	/*border: 1px solid black;*/
	font-family: Raleway, Montserrat;
}


/* -- BODY -- */
body {
	width: 100%;
}
/* -- END BODY -- */

/* -- CONTAINER -- */
.container-fluid {
}
/* -- END CONTAINER -- */

/* -- HEAD 1 -- */
#head1 {
	height: 100px;
	line-height: 100px;
	background-color: white;
}

#logo {
	height: 50px;
}
	
#head1 a {
	text-transform: uppercase;
	color: grey;
	font-weight: bold;
	font-size: 0.9em;
}
/* -- END HEAD 1 -- */

/* -- HEAD 2 -- */
#head2 {
	
	background-color: #d9edc7;
}

#head2 a {
	height: 70px;
	line-height: 70px;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 0.8em;
}
/* -- END HEAD 2 -- */

/* -- BLOCK 1 -- */
/*#block1 {
	background-color: #80c342;
}

#block1img {
	height: 500px;
	width: 
}*/
/* -- END BLOCK 1 -- */